.colorbg{
    background-color: salmon;
}
.img-1{
    background-image: url(../img/1.jpg);
    background-size: cover;
}
.img-2{
    background-image: url(../img/2.jpg);
    background-size: cover;
}
.img-3{
    background-image: url(../img/3.jpg);
    background-size: cover;
}
.img-4{
    background-image: url(../img/4.jpg);
    background-size: cover;
}
.color2{
    background: rgba(226, 226, 226, 0.8);
}